
<div class= "container text-center">
    <h1 class="mb-3">Para añadir nuevos platos</h1>
    <form class="input-group mb-3" [formGroup]="platosForm">
        <input formControlName="name" type="text" class="form-control" placeholder="Platos">
        <input formControlName="ingrediente" type="text" class="form-control" placeholder="Ingredientes">
        <input formControlName="precio" type="text" class="form-control" placeholder="Precios">
        <button (click)="sendData()" class="btn btn-outline-secondary" type="button" id="button-addon2">Añadir</button>
    </form>

    <div *ngIf="isError" class="alert alert-danger" role="alert">
        Ha pasado algo!
    </div>

    <ul class="list-group mb-3">
        <li *ngFor="let item of arrPlatos" class="list-group-item">#{{item.id}} {{item.name}} - {{item.ingrediente}} - {{item.precio}} <button type="button" (click)="deleteGato(item.id)" class="btn btn-danger">Eliminar</button>
        </li>
    </ul>


    <button type="button" class="btn btn-primary mb-3" [routerLink]="'/page-cocktails'">Ir a ver los cocktails</button>
    <button type="button" class="btn btn-success mb-3" [routerLink]="'..'">Volver a menu</button>
</div>

